@charset "UTF_8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/wallpaper004.jpg);
}

header {
    background-image: url(imagens/pattern004.png);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color:black;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267)
}

header > p {
    color: black;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.315);
    margin-bottom: 30px;
}

main {
    background-color: #ADCC99;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.418);
    
}

aside {
    background-image: url(imagens/wallpaper006.jpg);
    padding: 10px;
    border-radius: 10px;
    height: 500px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: #668053;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

footer {
    background-image: url(imagens/pattern004.png);
    color: black;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}